:root {
    --pf-global--primary-color--100: #800080;
    --pf-global--primary-color--200: #ff00ff;
    --default-background-color: #97A1CDFF;
    --link-hover-color: #02679a;
}	

.login-pf body {
    background: url("../img/JCD00361.jpeg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    linear-gradient(135deg, var(--default-background-color) 0%, #A96699FF 100%);
}
.login-pf a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

#kc-header {
    color: #ff00f1;
}

#kc-header-wrapper {
    color: #ff00f1;
}

.pf-c-form-control {
    --pf-global--primary-color--100: unset;
}
